#header{

	background-color: #0000FF;
	margin: 20px;
	padding: 20px;
	border-bottom: 7px;
	color: white;
	text-align: center;
}
#h1{


	color:green;
}
#signup{

	padding-right: 26px;
	
}
#datep{

	margin-left : 20px;
}
#gif{

	margin-left: 600px;
}
#marquee{

 margin-bottom: 5px;
 margin-left : 20px;
 padding-right: 26px;
}